[user]
	name = Gary Blackwood
	email = gary@garyblackwood.co.uk
[color]
	ui = true
[merge]
	ff = only
        conflictstyle = zdiff3
[push]
	default = simple
	followTags = true
        autoSetupRemote = true
[status]
	showUntrackedFiles = all
[transfer]
	fsckobjects = true
[core]
	editor = "nano"
[init]
        defaultBranch = main
